$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$font-size-xxxl: 5rem;
$font-size-xxl: 4rem;
$font-size-xl: 3rem;
$font-size-l: 2.5rem;
$font-size-ml: 2.25rem;
$font-size-m: 1.625rem;
$font-size-s: 1.125rem;
$font-size-xs: 1rem;
$font-size-xxs: 0.9rem;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

$line-height-primary: 1.2;
$line-height-secondary: 1.5;
$line-height-teritary: 1.8;
$line-height-quaternary: 1.4;

$border-radius-primary: 12px;
