@import "./colors";
@import "./sassVariables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --color-gray-main: #{$chinese-black};
  --color-yellow-main: #{$maize};

  --background-color-container: #{$raisin-black};
  --border-container: solid 1px #{$maize-opacity};

  --text-primary-font-size: #{$font-size-s};
  --text-primary-font-weight: #{$font-weight-semibold};
  --text-secondary-font-size: #{$font-size-xs};
  --text-color-primary: #{$raisin-black};
  --text-color-secondary: #{$white};

  --border-radius-primary: #{$border-radius-primary};

  --button-background-color: linear-gradient(
    124deg,
    #{$maize} 0%,
    rgba(229, 178, 0, 1) 100%
  );
  --button-box-shadow: 0px 5px 60px 0 rgba(245, 200, 66, 0.25);

  --label-chart-font-size: #{$font-size-xxxs};
  --label-chart-font-family: "Roboto Mono", monospace;

  --calendar-day-font-size: #{$font-size-l};
  --calendar-day-font-weight: #{$font-weight-medium};

  --calendar-month-year-font-size: #{$font-size-xs};
  --calendar-month-year-font-weight: #{$font-weight-semibold};

  --title-font-size: #{$font-size-s};
  --title-font-weight: #{$font-weight-semibold};
  --title-line-height: #{$line-height-primary};
}
