@import "../../styles/variables";
@import "../../styles/typography";

.new-expense {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  &__button {
    gap: 15px;

    &--fixed {
      height: 50px;
      width: 50px;
      border-radius: 300px;
      position: fixed;
      right: 15px;
      bottom: 15px;
      z-index: 100;
    }


    &--circle {
      height: 50px;
      width: 50px;
      border-radius: 300px;
    }
  }

  & svg {
    width: 20px;
    height: 20px;

    & path {
      fill: $raisin-black;
      stroke: $raisin-black;
      width: 20px;
      height: 20px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  &__buttons-container {
    display: flex;
    gap: 30px;
    align-self: center;
  }
  
}
.new-expense__animation-enter {
  transform: translate3d(0, 100px, 0);
}
.new-expense__animation-enter-active {
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s;
}
.new-expense__animation-exit {
  transform: translate3d(0, 0, 0);
}
.new-expense__animation-exit-active {
  transform: translate3d(0, 100px, 0);
  transition: transform 0.3s;
}

.new-expense-container-enter {
  opacity: 0;
  transform: scale(0.9);
}
.new-expense-container-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 150ms, transform 150ms;
}
.new-expense-container-exit {
  opacity: 1;
}
.new-expense-container-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 150ms, transform 150ms;
}