.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray-main);
  position: relative;
  
  &__date-title {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 110px;
  }

  &__buttons {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
  }
}
