.expense-item {
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: var(--color-gray-main);
  position: relative;
  
  &__price-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    word-break: break-word;
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    width: fit-content;
  }

  &__buttons {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
  }
}
